<!DOCTYPE html>
<html>
    <head>
        <title>Request Forms</title>
        <link rel="stylesheet" type="text/css" href="/css/uikit.min.css">
        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/uikit.min.js"></script>  
        <style type="text/css">        	
        </style>      
    </head>
    <body>
    	<script type="text/javascript">
    		$(function() {	            
	            bindEvents();
        	});
        	function bindEvents() {        	
	            $("#addCourse").on("click", function() {
	            	var courseName = $("#course_name").val();	            	
					var cid = document.querySelector("#courses option[value='"+ courseName +"']").dataset.value;					
	            	var row = "<tr id='" + cid + "' >";
                    row += "<td>";                   
                    row += "<div class='search-data-div' >";
                    row += "<lable class='search-name'><p> " + courseName + "</p></lable>";
                    row += "</div>"
                    row += "</td>";
                    row += "</tr>";
                    $("#SelectedListTable").append(row);
	            });	           
        	}
    	</script>	    
    	<div class="uk-width-large-6-10  uk-container-center uk-margin-top">        	
    		<div class="uk-grid" data-uk-grid-match>
    			<div class="uk-width-medium-2-4">
    				<div class="uk-grid">
	    				<div class="uk-width-medium-1-2">
		            		<label for="course_name">Select a Course : </label>	            	
		            	</div>
		            	<div class="uk-width-medium-1-2">            		
		            		<input id="course_name" name="course_name" type="text" list="courses" />
			            	<datalist id="courses">
								<% courses.forEach(function (course) { %>
									<option data-value="<%= course.cid %>" value="<%= course.cName %>"></option>						
								<% }); %>
							</datalist>											
		            	</div>		            				            			            	
		            </div>
            	</div>            	
            	<div class="uk-width-2-4">
		        	<label for="course_name">List of selected courses</label>	           
	                <table id="SelectedListTable" class="uk-table-striped"></table>	           
		        </div>
            </div>
            <input type = "submit" id="addCourse" name="addCourse" value="ADD" class="uk-button uk-button-small uk-button-success">
        </div>        
    </body>
</html>